.myOrdersPage {
  padding: 2vmax;
}

.myOrdersTable {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#myOrdersHeading {
  text-align: center;
  margin: 2vmax auto;
  font-size: 1.5vmax;
  font-weight: bold;
}

.greenColor {
  color: green;
}

.redColor {
  color: red;
}
